{% extends 'base2.html.twig' %}

{% block title %}New Virement{% endblock %}

{% block body %}
    <h1>Create new Virement</h1>

    {{ include('adminVB/_form.html.twig') }}

    <a href="{{ path('app_virement_index2') }}">back to list</a>
{% endblock %}