<form method="post" action="{{ path('Adminapp_compteep_delete', {'id': compteep.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compteep.id) }}">
    <button class="btn btn-danger">Desactiver</button>
</form>
