{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block body %}
    <h1>Creer un nouveau Compte epargne</h1>

    {{ include('Admincompteep/_form.html.twig') }}

    <a href="{{ path('Adminapp_compteep_index') }}">Retour a la liste</a>
{% endblock %}
