{% extends 'base.html.twig' %}

{% block title %}New Compteep{% endblock %}

{% block body %}
    <h1>Create new Compteep</h1>

    {{ include('compteep/_form.html.twig') }}

    <a href="{{ path('app_compteep_index') }}">back to list</a>
{% endblock %}
