{% extends 'base2.html.twig' %}

{% block title %} ajouter un nouveau type d'epargne{% endblock %}

{% block body %}
    <h1>Creer un nouveau type</h1>

    {{ include('typetaux/_form.html.twig') }}

    <a href="{{ path('app_typetaux_index') }}">Retour a la liste</a>
{% endblock %}
