<form method="post" action="{{ path('app_typecredit_delete', {'id': typecredit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typecredit.id) }}">
    <button class="btn">Delete</button>
</form>
