{% extends 'base.html.twig' %}

{% block title %}New Typecredit{% endblock %}

{% block body %}
    <h1>Create new Typecredit</h1>

    {{ include('typecredit/_form.html.twig') }}

    <a href="{{ path('app_typecredit_index') }}">back to list</a>
{% endblock %}
