{% extends 'base2.html.twig' %}

{% block title %} ajouter un nouveau type de crédit{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau type</h1>

    {{ include('typecredit/_form.html.twig') }}

    <a href="{{ path('app_typecredit_index') }}">Retour a la liste</a>
{% endblock %}
