{% extends 'base.html.twig' %}
{% block title %}Nouveau credit{% endblock %}
{% block body %}
    <h1>Ajouter un crédit</h1>
    {{ include('credit/_form.html.twig') }}

     

    <a href="{{ path('app_credit_index') }}">Retour à la liste</a>

{% endblock %}