{% extends 'base.html.twig' %}

{% block title %}Edit DemandeDesacCE{% endblock %}

{% block body %}
    <h1>Edit DemandeDesacCE</h1>

    {{ include('demande_desac_ce/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_demande_desac_c_e_index') }}">Retour a la liste</a>

    {{ include('demande_desac_ce/_delete_form.html.twig') }}
{% endblock %}
